<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logged In</title>
</head>
<body>
  Welcome {{request.user}}!!You have Sucessfully Logged in!!
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quisquam placeat voluptatum distinctio numquam magnam, dignissimos accusamus, ipsa sunt omnis explicabo sequi enim. Doloribus voluptates dolores vero voluptas ad at, optio aperiam unde officiis odio molestias error perspiciatis. Sed totam, voluptates suscipit error est ratione corrupti molestiae nostrum doloribus asperiores odio! Minus nemo reprehenderit dolorem?</p>
  <a href="/logout">Logout</a>
</body>
</html>